.breadcrumbs {

	padding: 40px 0 20px; 
	
	a {

		text-decoration: none;
		@include estiloFonte(ExtraBold);
		color: $cinza; 
		
		:hover {
			color: #0F4156;
			transition: all 0.8s; 
		}
	}
	
    .bc-separador {
		padding: 0 10px;
		color: #DFDFDF; 
	}
	
	.produto-corrente {
		@include estiloFonte(ExtraBold);
		color: $corSecundaria; 
	}
}
