.cart-modal {

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.42);
    transition: background, .5s, ease, .06s;
  
    .cart-modal-container {
    
        margin: 50px auto;
        padding: 60px 30px;
        text-align: center;
        background-color: #fff;
        width: 300px;
  
        img {
            width: 100px;
        }

        p {
            margin: 50px 0;    
            font-size: 25px;
            @include estiloFonte(ExtraBold);
            color: $azul-claro;
        }

        .btn {
            padding: 10px 40px;
            background-color: $azul-escuro;
            border-radius: 4px;
        }
    }
}

.cart {
    
    position: relative;
    
    .quantidade {
        display: inline-block;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background-color: $corSecundaria;
        
        @include estiloFonte(ExtraBold);
        color: #fff;
        text-align: center;
        vertical-align: top;
        line-height: 16px;

        position: absolute;
        left: 20px;
        top: -3px;
    }
}