.footer {
    display: flex;
    max-width: 1280px;
    margin: 0 auto; 
  
    .footer-logo {
        display: flex;
        justify-content: flex-end;
        padding: 20px 0;
        background-color: $corPrimaria;
        width: 25%; 
    }

    .footer-logo img {
        margin: 0 auto; 
    }
  
    .footer-copyright {
        display: flex;
        align-items: center;
        padding: 20px 40px;
        background-color: $corSecundaria;
        width: 75%;
        color: #fff; 
    }
}  