@font-face {
    font-family: Raleway;
    font-weight: 300;
    src: url('../fonts/Raleway-Light.ttf') format('truetype');
}

@font-face {
    font-family: Raleway Regular;
    font-weight: 400;
    src: url('../fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Raleway ExtraBold;
    font-weight: 800;
    src: url('../fonts/Raleway-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: Raleway Black;
    font-weight: 900;
    src: url('../fonts/Raleway-Black.ttf') format('truetype');
}

.container {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}