.header {

    border-bottom: 1px solid #E5E5E5;

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .mobile-btn {
        display: none;
    }
}

.header-logo img {
    height: 80px;
}

.header-menu {

    ul {
        display: flex;
        list-style: none;
    }
    a {
        padding: 10px;
        text-decoration: none;
        color: #C8C8C8;
    }
    a.sale {
        @include estiloFonte(ExtraBold);
        color: #4EC2DD;
    }
    a:hover, a.sale:hover {
        @include menuHover();
    }
} 

.header-busca {

    img {
        width: 21px;
        height: 21px;
    }

    .submit {
        height: 46px;
        width: 44px;
        float: left;
        border-right: 0px;
        border-radius: 5px 0 0 5px;
        background-color: #fff;
    }
    
    .search {
        height: 46px;
        padding: 10px;
        border-left: 0;
        border-radius: 0 5px 5px 0;
        color: #C8C8C8;
        @include estiloFonte(Regular);
    }
    
    button, input {
        border: 1px solid #E5E5E5;
    }
}

.header-cart {
    width: 30px;
    height: 30px;
}