$azul-claro: #4EC2DD;
$azul-escuro: #0F4156;
$corPrimaria: #0F4156;
$corSecundaria: #4EC2DD;
$cinza: #C8C8C8;
$verde: #71CE4B;

@mixin menuHover() {
    color: $azul-escuro;
    transition: all 0.8s;
}

@mixin estiloInput() {
    font-family: 'Raleway', sans-serif;
    border: none;
    border-radius: 5px;
}

@mixin estiloFonte($peso) {
    font-family: Raleway $peso, sans-serif;
}

@mixin estiloPrecoAtual() {
    @include estiloFonte(ExtraBold);
    color: $corSecundaria;
}