@media (max-width: 768px) {
    
    .produto .container, .produto-similares .produtos {
      flex-direction: column; 
    }
    
    .header {

        .container {
            justify-content: space-around; 
        }

        .header-menu {

            margin: 0 auto; 

            &.menu-mb {

                display: none;
                opacity: 0;
                visibility: hidden;
                transform: translate3d(60px, 0px, 0px);
                transition: .3s;
                
                &.active {
                    display: block;
                    opacity: 1;
                    visibility: visible;
                    transform: translate3d(0px, 0px, 0px);
                    order: 10;
                    flex-basis: 100%;
                }    

                ul {
                    flex-direction: column;
                }

                li {
                    padding: 0 0 5px;
                }
            }
        }
        
        .header-busca {

            display: none;
            visibility: hidden;

            .search {
                width: auto; 
            }
        } 
        
        .mobile-btn {

            order: -1;
            display: block;
            margin: 10px 0 0;
            width: 36px;
            height: 36px;
            position: relative;
            float: left;
            border-top: 4px solid;
            cursor: pointer;
            -webkit-backface-visibility: hidden;
            color: $corPrimaria;
        
            &:after, &:before {
                content: '';
                display: block;
                margin-top: 6px;
                position: relative;
                height: 4px;
                background: currentColor;
                transition: transform .2s ease;
            }

            &.active {

                border-top-color: transparent;

                &:after, &:before {
                    margin-top: 0;
                }

                &:after {
                    top: 2px;
                    transform: rotate(45deg);
                }

                &:before {
                    top: 6px;
                    transform: rotate(135deg);
                }
            }
        }
    }

    .produto {
         
        h1 {
            margin: 20px 0 30px;
            font-size: 20px;
        }

        .produto-imagem {
            margin: 16px 0 20px;
            order: -1;
        }
        
        .produto-thumbs .produto-thumb {
            display: inline-block;
        }
        
        .produto-info {
            text-align: center; 
        }
        
        .preco-box {
            text-align: center; 
        }
        
        .frete-box {
    
            margin: 20px 0;
        
            .frete-dados input {
                width: auto;
                margin: 0 0 10px; 
            }

            .frete-submit {    
                width: 180px;
            }
        }
    }

    .cart-modal .cart-modal-container {    

        width: 200px;
        padding: 25px;

        p {    
            margin: 35px 0;
        }
    }

    .produto-similares {  
        
        padding: 20px 0 70px;

        .produtos .produto-box {
            
            margin: 10px auto;
            text-align: center; 

            .produto-info .produto-nome {
                height: auto; 
            }
        }    
    }

    .footer {

        flex-wrap: wrap;

        .footer-logo, .footer-copyright {
            width: 100%; 
        }

        .footer-copyright {
            justify-content: center;
            text-align: center;
        }
    } 
}
  
@media (min-width: 1025px) {

    .header-busca .search {
        width: 480px;
    }

    .footer .footer-logo img {
        margin: 0 40px auto;
    }
}
