.secao-titulo {
    text-align: center;
    color: $corPrimaria;
    font: 30px Raleway Regular; 
}

.btn {
    font-family: Raleway Regular, sans-serif;
    border: none;
    border-radius: 5px;
    @include estiloFonte(ExtraBold);
    color: #fff;
    cursor: pointer; 
}

.produto-descricao {
    
    padding: 40px 0;

    p {
        color: #C8C8C8;
        font-size: 18px;
        line-height: 31px; 
    }
}

.produto-similares {
    
    padding: 40px 0 70px; 

    .produtos {
        display: flex;
        justify-content: center;
        color: #C8C8C8; 
    }
    
    .produto-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 5px;
        padding: 10px 10px 70px;
        width: 210px;
        background-color: #fafafa;
        border: #707070; 
    }    
    
    img {
        width: 200px; 
    }
}

.produto-info {
    
    .produto-nome {
        height: 42px; 
    }

    .preco-atual {
        margin: 0;
        font-size: 24px;
        @include estiloFonte(ExtraBold);
        color: #4EC2DD; 
    }
      
    p {
        font-size: 14px;
        line-height: 1.5; 
    }
}
  
.produto {
    
    .container {
        display: flex; 
    }

    h1 {
        margin: 20px 30px 30px;
        font-weight: normal;
        font-size: 30px; 
    }

    .produto-imagem {
        margin: 16px 0 16px 20px;
        border: 1px solid #E5E5E5; 
    }

    .produto-thumbs .produto-thumb {
        margin: 16px 0;
        display: block;
        border: 1px solid #E5E5E5; 
    }
    
    .produto-thumbs .produto-thumb, .produto-thumbs img {
        width: 80px;
        height: 80px; 
    }
}
    
.preco-box {
    
    padding: 15px 15px 20px;
    background-color: #fafafa; 

    p {
        margin: 0; 
    }
    
    .preco-atual {
        
        margin: 0 0 20px; 
        
        span {
            @include estiloFonte(ExtraBold);
            color: $corSecundaria;
            font-size: 26px; 
        }
    }

    .produto-submit {
        margin: 15px 0 0;
        padding: 10px 15px;
        font-size: 20px;
        background-color: #71CE4B; 
    }
}
  
.frete-box {

    margin: 20px 30px;
    padding: 20px 25px;
    background-color: #4EC2DD;
    border-radius: 5px;
    color: #fff; 

    span {
        margin-bottom: 20px;
        display: block;
        font-size: 15px;
        @include estiloFonte(ExtraBold);
    }

    input {
        font-family: Raleway Regular, sans-serif;
        border: none;
        border-radius: 5px;
        padding: 12px 20px;
        font-size: 16px; 
    }

    .frete-dados {

        color: #E5E5E5; 

        :nth-child(1) {
            width: 150px; 
        }
        
        :nth-child(2) {
            margin: 0 8px;
            width: 50px; 
        }
        
        .frete-submit {
            padding: 12px 30px;
            font-size: 16px;
            background-color: #0F4156; 
        }
    }
}