body {
    font-family: Raleway Regular, sans-serif;
    line-height: 1.4;
    color: $cinza;
}

body, ul {
	margin: 0;
	padding: 0;
}

h3 {
    margin-top: 0;
}

ul {
	list-style-type: none;
}

p {
    margin: 15px 0 0; 
}

img {
    max-width: 100%;
}